Repository openrewrite/rewrite-rewrite, pull requests merged in 2025-04, with the labels that each got.

#7 Add Rewrite recipes, these are moved from the rewrite project
  .gitignore
  src/main/java/org/openrewrite/java/recipes/BlankLinesAroundFieldsWithAnnotations.java
  src/main/java/org/openrewrite/java/recipes/ExecutionContextParameterName.java
  src/main/java/org/openrewrite/java/recipes/FindRecipes.java
  src/main/java/org/openrewrite/java/recipes/MissingOptionExample.java
  src/main/java/org/openrewrite/java/recipes/NoMutableStaticFieldsInRecipes.java
  src/main/java/org/openrewrite/java/recipes/RecipeEqualsAndHashCodeCallSuper.java
  src/main/java/org/openrewrite/java/recipes/RewriteTestClassesShouldNotBePublic.java
  src/main/java/org/openrewrite/java/recipes/SelectRecipeExamples.java
  src/main/java/org/openrewrite/java/recipes/SetDefaultEstimatedEffortPerOccurrence.java
  src/main/java/org/openrewrite/java/recipes/SourceSpecTextBlockIndentation.java
  src/main/java/org/openrewrite/java/recipes/UseTreeRandomId.java
  src/main/java/org/openrewrite/java/recipes/package-info.java
  src/main/resources/META-INF/rewrite/jspecify.yml
  src/test/java/org/openrewrite/java/recipes/BlankLinesAroundFieldsWithAnnotationsTest.java
  src/test/java/org/openrewrite/java/recipes/ExecutionContextParameterNameTest.java
  src/test/java/org/openrewrite/java/recipes/FindRecipesTest.java
  src/test/java/org/openrewrite/java/recipes/MissingOptionExampleTest.java
  src/test/java/org/openrewrite/java/recipes/NoMutableStaticFieldsInRecipesTest.java
  src/test/java/org/openrewrite/java/recipes/RecipeEqualsAndHashCodeCallSuperTest.java
  src/test/java/org/openrewrite/java/recipes/RewriteTestClassesShouldNotBePublicTest.java
  src/test/java/org/openrewrite/java/recipes/SelectRecipeExamplesTest.java
  src/test/java/org/openrewrite/java/recipes/SetDefaultEstimatedEffortPerOccurrenceTest.java
  src/test/java/org/openrewrite/java/recipes/SourceSpecTextBlockIndentationTest.java
  src/test/java/org/openrewrite/java/recipes/UseTreeRandomIdTest.java
Labels: recipe

#4 Add recipe for correctly spaced descriptions
  src/main/java/org/openrewrite/java/recipes/CorrectlySpacedDescriptions.java
  src/main/resources/META-INF/rewrite/recipebestpractice.yml
  src/test/java/org/openrewrite/java/recipes/CorrectlySpacedDescriptionsTest.java
Labels: recipe

#11 Extract documentation examples and add to src/main/resources
  build.gradle.kts
  src/main/java/org/openrewrite/java/recipes/ExamplesExtractor.java
  src/main/resources/META-INF/rewrite/recipebestpractice.yml
  src/test/java/org/openrewrite/java/recipes/ExamplesExtractorTest.java
Labels: documentation, enhancement

#12 Correct placement for `examples.yml` based on test class location
  src/main/java/org/openrewrite/java/recipes/ExamplesExtractor.java
  src/test/java/org/openrewrite/java/recipes/ExamplesExtractorTest.java
Labels: bug

#13 Bubble up `@DocumentExamples` to the top
  src/main/java/org/openrewrite/java/recipes/ExamplesExtractor.java
  src/main/java/org/openrewrite/java/recipes/ReorderTestMethods.java
  src/main/java/org/openrewrite/java/recipes/SelectRecipeExamples.java
  src/main/resources/META-INF/rewrite/examples.yml
  src/main/resources/META-INF/rewrite/recipebestpractice.yml
  src/test/java/org/openrewrite/java/recipes/ReorderTestMethodsTest.java
  src/test/java/org/openrewrite/java/recipes/SelectRecipeExamplesTest.java
Labels: documentation, enhancement, recipe
